{% extends "base.html" %}
{% load menu_tags cms_tags %}

{% block base_content %}

<div class="textseitenContainer"> 
<div class="textseiteTextfeld">
  {% placeholder Textfeld %}
</div>
</div>



<div class="menucontainerAlt">
{% show_menu 1 100 0 100 %}
     
     <div class="smallmenu">
{% show_menu_below_id "smallmenu" %}
     </div>
     </div>
     
     <div class="logoRechts">
  <div class="logoRechtsInner">
  <a href="http://boehme-toechter.de"><img src="{{ STATIC_URL }}img/bt-schriftzug-schwarz.png"/></a>
</div>
</div>
{% endblock %}