{% extends "base.html" %}
{% load menu_tags cms_tags %}
{% load placeholder_tags %}
{% load thumbnail %}



 {% block base_content %}
 <div class="newscontainer">

    </div>
    <div class="weingutscrollcontent">
      <div class="aktuelleswrapper">
   <div class="blogeintraege">
 <div class="newsTrennlinie defaultLinie"></div>

<div class="entry-header">
  {% if event.img %}
  <div class ="entry-event-image">
      
        <a href="{% thumbnail event.img 800x600 %}" data-lightbox="event-image" title="{{event.name}}" alt="{{ event.name }} Poster" >
          <img src="{% thumbnail event.img 110x86 %}" data-lightbox="event-image" alt="{{event.name}}" title="{{event.name}}" rel=""/>
        </a>
        <!-- <img src="{{ MEDIA_URL }}{{event.img}}"> -->
     
    </div>
     {% endif %}
  <h4 class="entry-title">
    {{ event.name }} 
  </h4>

  <div class="entry-info">
    
    <p>{% if event.is_mutiple_days %}
      {{ event.start|date:"d"  }} - {{ event.end|date:"d" }}.{{ event.end|date:"m" }}.{{ event.end|date:"Y" }}{% else %}{{event.start|date:"DATE_FORMAT"}}{% endif %}{% if event.time %}, Ab {{event.time}} Uhr{% endif %}</p>
    {% if event.location %}
        <p>{{ event.location|safe }}</p>
    {% endif %}
  </div>
 </div>
 <div class="entry-body">
{% render_placeholder event.description %}
 </div>
  
{% block content %}{% endblock %}
{% block sidebar %}{% endblock %}
  </div>
 </div>
  </div>

<div class="logoRechts"><div class="logoRechtsInner">
  <a href="http://boehme-toechter.de"> <img src="{{ STATIC_URL }}img/bt-schriftzug-schwarz.png"></a>
</div>
</div>
<div class="menucontainer">
{% show_menu 1 1 0 100 %}
     
<div class="smallmenu">
{% show_menu_below_id "smallmenu" 0 0 %}
     </div>
     </div>
{% endblock %}

	
